<footer class="footer">
  <div class="footer__btn--top">
    <a href="#top" title="Ir al inicio de la página">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Icono de flecha hacia arriba"
    /></a>
  </div>
  <nav class="footer__nav footer__nav1">
    <ul>
      <li>
        <a
          href="https://adalab.es/"
          title="Ir a la Web de Adalab"
          target="_blank"
        >
          Articles</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Ir a la Web de Adalab"
          target="_blank"
          >Books</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Ir a la Web de Adalab"
          target="_blank"
          >Events</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Ir a la Web de Adalab"
          target="_blank"
          >Reasons</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Ir a la Web de Adalab"
          target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__nav footer__nav2">
    <ul>
      <li>
        <a
          href="https://adalab.es/"
          title="Ir a la Web de Adalab"
          target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Ir a la Web de Adalab"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/"
          title="Ir a la Web de Adalab"
          target="_blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <small class="footer__copy">
    &copy;2017
  </small>
  <small class="footer__welove"
    >we <span class="heart">❤︎</span> components</small
  >
</footer>
