<section class="section2" id="section2">
  <h2>3 Reason to purchase</h2>
  <div class="section2__reason">
    <h3>Ut sed metus</h3>
    <p>Lorem ipsum dolor sit amet, consectetur.</p>
  </div>
  <div class="section2__reason">
    <h3>Curabitur ac erat</h3>
    <p>Mauris mattis uma quis lorem molestie.</p>
  </div>
  <div class="section2__reason">
    <h3>Morbi dictum</h3>
    <p>Aliquam in dolor et dolor tincidunt.</p>
  </div>
  <div class="btn section2__btn--reasons">
    <a href="" title="">More reasons</a>
  </div>
</section>
