<section class="section2" id="section2">
  <h2>3 Reason to purchase</h2>
  <ul class="section2__reasons">
    <li class="section2__reasons--item">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
    </li>
    <li class="section2__reasons--item">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis uma quis lorem molestie.</p>
    </li>
    <li class="section2__reasons--item">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </li>
  </ul>
  <div class="btn section2__btn--reasons">
    <a href="" title="">More reasons</a>
  </div>
</section>
