.footer {
  background-color: $color-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 465px;

  &__btn--top {
    background-color: $color-light;
    box-shadow: 0 2px 4px 0 $color-dark;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
    flex-shrink: 0;
  }
  .footer__nav ul {
    padding: 0px;
    li {
      list-style-type: none;
      a {
        color: $color-light;
        font-family: $font-main;
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
      }
    }
  }

  &__copy {
    color: $color-light;
    font-size: 14px;
    line-height: 30px;
    margin-top: 20px;
  }
  &__welove {
    color: $color-light;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 45px;
    .heart {
      color: $color-buttons;
    }
  }
}
