.footer {
  background-color: $color-footer;
  height: 465px;
  @include tablet {
    height: 240px;
    display: flex;
    justify-content: center;
  }

  &__btn--top {
    background-color: $color-light;
    box-shadow: 0 2px 4px 0 $color-dark;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-shrink: 0;

    @include tablet {
      transform: none;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include desktop {
      transform: translate(-950%, -50%);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      transform: translate(0, -15px);
      margin-top: 45px;
    }
    @include desktop {
      width: 600px;
    }
  }
  .footer__container--small {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      text-align: left;
      align-items: flex-start;
      order: 1;
    }
  }
  .footer__nav1 {
    @include tablet {
      order: 2;
    }
  }
  .footer__nav2 {
    @include tablet {
      order: 3;
    }
  }

  .footer__nav ul {
    padding: 0px;
    width: 210px;
    li {
      list-style-type: none;
      @include tablet {
        text-align: left;
      }

      a {
        color: $color-light;
        font-family: $font-main;
        font-size: 16px;
        line-height: 30px;
        text-transform: uppercase;
      }
    }
  }

  &__copy {
    color: $color-light;
    font-size: 14px;
    line-height: 30px;
    margin-top: 20px;
  }
  &__welove {
    color: $color-light;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 45px;
    .heart {
      color: $color-buttons;
    }
  }
}
