.section2 {
  height: 624px;
  background-color: $color-section;
  @include tablet {
    height: 397px;
    padding: 0px 5% 0px 5%;
  }
  @include desktop {
    padding: 0px 7%;
  }

  h2 {
    padding-top: 30px;
    padding-bottom: 45px;
    font-family: $font-titles;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 700;
    text-transform: capitalize;
    @include tablet {
      font-size: 2rem;
      line-height: 2.813rem;
    }
    @include desktop {
      padding-top: 60px;
    }
  }
  &__reasons {
    display: grid;
    grid-template-columns: 21.25% 28.75% 28.75% 21.25%;
    grid-template-rows: 138px 138px 93px;
    @include tablet {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 55px;
    }
    @include desktop {
      grid-template-rows: 150px;
      grid-gap: 80px;
    }
    &--item {
      grid-column: 2/4;
      h3 {
        font-family: $font-titles;
        font-size: 1.125rem;
        @include tablet {
          margin-bottom: 14px;
          font-size: 1.5rem;
          line-height: 1.875rem;
        }
        @include desktop {
          line-height: 2.375rem;
        }
      }
      p {
        font-size: 18px;
        @include tablet {
          font-size: 1.25rem;
          line-height: 1.875rem;
          margin-bottom: 60px;
        }
      }
    }
    .item1 {
      @include tablet {
        grid-column: 1;
      }
    }
    .item2 {
      @include tablet {
        grid-column: 2;
      }
    }
    .item3 {
      @include tablet {
        grid-column: 3;
      }
    }
  }
  &__btn--reasons {
    margin: 45px auto 60px auto;
    width: 184px;
    height: 45px;
    border: 2px solid $color-buttons;
    background-color: $color-buttons;
    transition: background-color ease 0.5s;
    border-radius: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $color-light;
    }
    &:active {
      background-color: $color-burger;
      border-color: $color-burger;
    }
    @include tablet {
      width: 210px;
      margin: 10px auto 38px auto;
    }
    @include desktop {
      width: 255px;
      margin: 0px auto 48px auto;
    }

    a {
      color: $color-light;
      transition: color ease 0.5s;
      font-family: $font-main;
      font-weight: 500;
      font-size: 20px;
      padding: 8px 25px;
      &:hover {
        color: $color-buttons;
      }
      &:active {
        color: $color-light;
      }
    }
  }
}
