.section1 {
  padding: 5%;
  text-align: left;
  height: 376px;
  @include tablet {
    height: 330px;
    padding: 0px 5% 60px 5%;
  }
  @include desktop {
    height: 360px;
    padding: 0px 22% 60px 22%;
  }

  &__text--small {
    color: $color-section-darker;
    font-size: 0.875rem;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 2px;

    @include tablet {
      margin-top: 40px;
    }

    @include desktop {
      font-size: 1rem;
      margin-top: 60px;
    }
  }
  h2 {
    font-family: $font-titles;
    font-size: 1.5rem;
    line-height: 1.875rem;
    text-align: left;
    text-transform: capitalize;
    @include tablet {
      font-size: 1.625rem;
      line-height: 4rem;
    }
    @include desktop {
      font-size: 2rem;
      line-height: 4rem;
    }
  }
  p {
    text-align: left;
    line-height: 1.875rem;
    margin: 15px auto 30px auto;
    @include tablet {
      font-size: 1.25rem;
      line-height: 1.875rem;
      margin-top: 30px;
    }
  }
  .section1__btn--go {
    width: 76px;
    height: 45px;
    border: 2px solid $color-buttons;
    border-radius: 22.5px;
    background-color: $color-buttons;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-main;
    font-weight: 500;
    font-size: 20px;
    color: $color-light;
    transition: background-color ease 0.5s;
    transition: color ease 0.5s;
    margin-bottom: 45px;
    &:hover {
      background-color: $color-light;
      color: $color-buttons;
    }
    &:active {
      background-color: $color-burger;
      border-color: $color-burger;
    }
    @include tablet {
      margin-bottom: 58px;
      width: 91px;
    }
    @include desktop {
      width: 160px;
    }
  }
  a {
    display: inline-block;
    margin-top: 20px;
    @include tablet {
      margin-top: 0px;
    }
  }
}
